@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

:root {
    --roxo: #140929;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* elementos base */

body {
    background: var(--roxo);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

header .logo {
    color: #fff;
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    margin-right: 1rem;
    margin-left: 1rem;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 10px
}

header nav a:hover {
    color: #5f4d83;
}

header nav a:nth-child(1){
    padding-left: 10px;
}

.container {
    margin-left: 25px;
}

/* Busca */

.principal {
    font-size: 1rem;
    background: linear-gradient(rgba(88, 45, 128, .50), rgba(88, 45, 128, .50)100%), url('/img/bg-anime.jpg');
    height: 300px;
    background-size: cover;  
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.principal .titulo {
    font-size: 2rem;
    font-weight: 600;
}

.principal input[type=text] {
    width: 75%;
    height: 46px;
    line-height: 46px;
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}

.principal .container {
    margin-left: 3rem;
}

.principal .container .busca {
    margin-top: 1rem;
}

.principal input[type=submit] {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: linear-gradient(to right, rgba(88, 45, 128, 1) 0%, rgba(88, 45, 128, 1) 100%);
    border-radius: 30px;
    position: relative;
    right: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

input:hover[type=submit] {
    color: var(--preto);
    cursor: pointer;
}

.box-filme {
    height: 100%;
    width: 100%; 
    display: block;
}

#lancamentos h3 {
    font-size: 22px;
    font-family: 'Girassol', cursive;
    letter-spacing: 1.5px;
    padding-left: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

#recomendados h3 {
    font-size: 22px;
    font-family: 'Girassol', cursive;
    letter-spacing: 1.5px;
    padding-left: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

#top10 h3 {
    font-size: 22px;
    font-family: 'Girassol', cursive;
    letter-spacing: 1.5px;
    padding-left: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}